@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #b3cad4;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #b3cad4; /* Background color of the scrollbar track */
}

/* Change the color and shape of the scrollbar thumb (handle) */
::-webkit-scrollbar-thumb {
  background-color: black; /* Color of the scrollbar thumb */
  /* Border radius of the scrollbar thumb */
}
